
/* Global */

html{
        background-color: #EEF0E5;

}


.cinzel-principal1{
        font-family: "Cinzel", serif;
        font-optical-sizing: auto;
        font-weight: 650;
        font-style: normal;
        background-color: #B6C4B6;
        color: #000000;
        font-size: 1.4rem;
        padding: 7px;
        margin: 2px
}


.cinzel-principal{
        font-family: "Cinzel", serif;
        font-optical-sizing: auto;
        font-weight: 650;
        font-style: normal;
        background-color: #B6C4B6;
}
      

a:link{text-decoration: none;}

.formatacao{
        color:#000000;
        font-size: 19px;
}

/* Página Inicial */

.cinzel-principal2{
        font-family: "Cinzel", serif;
        font-optical-sizing: auto;
        font-weight: 650;
        font-style: italic;
}
      

a[value="1"]{
        border: 2px solid black;
        border-right: 0px;
        border-left: 0px;
        word-spacing: 5px;
}


h1[value="1"]{
        text-align: center;
        border: 2px solid black;
        border-right: 0px;
        border-left: 0px;
}

nav{
        text-align: center;
    
}

div[id="pri"]{
        height: 300px;
        width: 450px;
}

div[id="seg"]{
        height: 300px;
        width: 450px;
}

div[id="ter"]{
        height: 300px;
        width: 450px;
}


#pri{
        padding: 1px;
        border: 2px solid black;
        margin-left: 60px;
        margin-top: 30px;
}

#seg{
        padding: 1px;
        border: 2px solid black;
        margin-left: 560px;
        margin-top: 30px;
}

#ter{
        padding: 1px;
        border: 2px solid black;
        margin-left: 60px;
        margin-top: 30px;
}

img{
        height: 300px;
        width: 450px;
}

#legendas{
        margin-top: 70px;
        margin-left: 60px;
}

#livros{
        margin-left: 560px;
}

#experiencia{
        margin-left: 60px;

}

/* Portfólio */

h3{
        text-align: center;
        border: 2px solid black;
        border-right: 0px;
        border-left: 0px;
}


/* Contato */

h1[id="contato"]{
        border: 2px solid black;
        border-right:0px;
        border-left: 0px;
}

.contatoformat{
        text-align: center;
}

/* Sobre */

.sobre-fonte-format{
        text-align: center;
        font-size: 21px;
}

